arch:
  - amd64
  - ppc64le
sudo: false
language: go
go:
  - 1.8.x
  - 1.11.x
  - master
  
jobs:
  exclude:
  - arch: ppc64le
    go: 1.8.x

install:
  - go get -t -v ./...

script:
  - go test -v -race ./...

matrix:
  allow_failures:
    - go: master
  fast_finish: true
